.mdPreview {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  padding-top: 78px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
}

#editor {
  width: 400px;
  min-height: 200px;
  font-family: Courier;
  font-size: 12px;
}

#preview {
  border: 1px solid black;
  min-height: 200px;
  width: 600px;
  padding-left: 10px;
  overflow-wrap: break-word;
  background-color: #eeeeee;
  text-align: left;
}

/* For Mobile devices */
@media only screen and (max-width: 400px) {
  #preview, #editor {
    width: 370px;
  }
}