.clipContainer {
  background-color: #404040;
  height: 100vh;
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

.search {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 100px;
}