.clipContainer {
  height: calc(100vh - 54px);
  background-color: #404040;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.search {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container,
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 80px;
   text-align: center;
}

.clipSubmit {
  margin: 0;
  width: 100%;
  margin-top: 20px;
  display: block;
  
}

.clipListContainer {
  background-color: white;
  margin-top: 20px;
  max-width: 800px;
  margin-bottom: 80px;
}

.clipListContainer a {
  color: black;
  text-decoration: none;
}

.twitchThumbnail {
  width: 90%;
  vertical-align: middle;
}

.twitchClipItem {
  padding: 5px;
  font-size: 10pt;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitchClipItem span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.twitchClipItem:hover {
  background-color: #909090;
}

/* For Mobile devices */
@media only screen and (max-width: 400px) {
  .clipListContainer {
    max-width: 350px;
  }
}