/* navbar start */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #081b08;
  z-index: 1; 
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

#navbar ul li {
  padding: 0px 14px 0px 14px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Courier, sans-serif;
}

/* navbar end */

main.main {
  display: flex;
  background-color: #202020;
  color: white;
}

#welcome-section {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profilePic {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: 50% top;
  border-radius: 50%;
}

.welcomeDescription {
  width: 400px;
}

#links {
  display: flex;
  flex-direction: row;
  background-color: #cecece;
  border-radius: 10px;
}

#links a:hover.linkedinLink {
  background-color:#cceee7;
  border-radius: 10px 0 0 10px;
  transition: background-color 0.5s;
}

#links .githubLink {
  padding-left: 6px;
}

#links a:hover.githubLink {
  background-color:#cceee7;
  border-radius: 0 10px 10px 0;
  transition: background-color 0.5s;
}

.resumeIcon,
.linkedinIcon,
.githubIcon {
  height: 80px;
  margin: 14px;
}

#project-section {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.projectTile {
  text-align: center;
  border: 3px solid black;
  background-color: white;
  margin: 6px;
  transition: 0.5s;
  width: 240px;
}

.projectTile a {
  text-decoration: none;
}

.projectTile:hover {
  background-color: #cceee7;
  box-shadow: 1px 1px 1px #141414;
}

.projectTile a .projectLink {
  padding-top: 20px;
  padding-bottom: 4px;
  text-decoration: none;
  color: black;
}

.projectLink h3 {
  margin-top: 6px;
  padding: 0;
}

i {
  border: none;
}


/* Separate div identifier for small rectangle on bottom */

.bottomBarOfProjectTile {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.projectInfo {
  text-align: right;
  vertical-align: bottom;
}

h2 {
  text-align: center;
}

h3 {
  padding-top: 1.5em;
  display: block;
  margin-bottom: 0;
}


/* https://www.dev-tips-and-tricks.com/animate-elements-scrolled-view-vanilla-js */

/* @keyframes fade-in {
  from {
      opacity: 0;
      transform: scale(0.95, 0.95);
  }
  to {
      opacity: 1;
  }
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
} */

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:20%; opacity:0} 
  to {top:30%; opacity:1}
}

@keyframes animatetop {
  from {top:20%; opacity:0}
  to {top:30%; opacity:1}
} 

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-header {
  border-bottom: 1px solid rgba(192, 192, 192, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  color: black;
  width: 500px;
  height: auto;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  border: 1px #353535;
  border-radius: 10px;
  text-align: left;
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-main a {
  color: blue;
  border: none;
}

.modal-footer {
  text-align: right;
  border-top: 1px solid rgba(192, 192, 192, 0.6);
  padding: 8px 0px 4px 0px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close {
  color: #707070;;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}