body {
  padding-top: 40px;
}


/* navbar start */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #081b08;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

#navbar ul li {
  padding: 0px 14px 0px 14px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Courier, sans-serif;
}


/* Bootstrap override to fix padding on navbar */

#bootstrap-override-ul {
  margin: auto;
}


/* navbar end */

#welcome-section {
  height: 100vh;
  margin-top: -68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links {
  display: flex;
  flex-direction: row;
}

.resumeIcon,
.linkedinIcon,
.githubIcon {
  height: 80px;
  margin: 14px;
}

#project-section {
  height: 100vh;
  margin-top: -68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.projectTile {
  text-align: center;
  border-style: solid;
  margin: 20px;
  transition: 0.5s;
  width: 400px;
}

.projectTile a {
  text-decoration: none;
}

.projectTile:hover {
  background-color: #cceee7;
  box-shadow: 1px 1px 1px #141414;
}

.projectTile a .projectLink {
  padding-top: 40px;
  padding-bottom: 8px;
  text-decoration: none;
  color: black;
}


/* Separate div identifier for small rectangle on bottom */

.bottomBarOfProjectTile {
  display: flex;
  flex-direction: row;
}

.projectInfo {
  text-align: right;
  vertical-align: bottom;
  margin-top: 14px;
}

h2 {
  text-align: center;
}

h3 {
  padding-top: 1.5em;
  display: block;
  margin-bottom: 0;
}


/* https://www.dev-tips-and-tricks.com/animate-elements-scrolled-view-vanilla-js */

@keyframes fade-in {
  from {
      opacity: 0;
      transform: scale(0.95, 0.95);
  }
  to {
      opacity: 1;
  }
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

.modal-body p,
ul {
  text-align: left;
}